body {
    margin: 0px auto;
    padding: 0px;
    width: 500px;
    color: #247cff;
    font-family: "Bree Serif";
    position: relative;

}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0px 24%;
    font-size: 48px;
}

main {
    width: 500px;
    height: 550px;
    border-radius: 50px;
    background-color: #fff4bd;
    position: relative;
}

.game-board {
    margin: 0px auto;
    background-color: #247cff;
    height: 440px;
    width: 440px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.shape {
    width: 140px;
    height: 140px;
    background-color: #fff9db;
    float: left;
    border: 1px solid #1f1f1f;
    cursor: pointer;
    color: #1f1f1f;
    font-size: 100px;
    position: relative;
}

.hidden {
    font-size: 0px;
}


#win {
    position: absolute;
    background-color: #247cff;
}

.row {
    width: 400px;
    height: 10px;
}

.col {
    width: 10px;
    height: 400px;
}

.diagonal1 {
    width: 410px;
    height: 10px;
    top: 210px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.fa-circle {
    position: absolute;
    top: 20px;
    left: 20px;
}

.fa-times {
    position: absolute;
    top: 20px;
    left: 32px;
}
.diagonal2 {
    width: 410px;
    height: 10px;
    top: 220px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.restart {
    width: 400px;
    height: 50px;
    margin: 15px 50px;
    background-color: #247cff;
    border: 2px solid white;
    color: white;
    font-family: "Bree Serif";
    cursor: pointer;
    font-size: 24px;
    transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.restart:hover {
    background-color: white;
    color: #247cff;
    border: 2px solid #247cff;
}

.mod {
    width: 150px;
    height: 50px;;
    background-color: black;
    display: inline-block;
    margin: 20px 0px 0px 60px;
    transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.mod1 {
    background: url(https://i.imgur.com/d82JUdC.png) no-repeat;
    background-size: 150px;
}

.mod2 {
    background: url(https://i.imgur.com/lG7Oasw.png) no-repeat;
    background-size: 150px;
}

.mod:hover {
    opacity: 0.7;
    cursor: pointer;
}

.show {
    font-size: 100px;
}

#winner {
    color: black;
    font-size: 60px;
    position: absolute;
    width: 440px;
    top: 0px;
    left: 0px;
    padding-top: 180px;
    opacity: 0.7;
    height: 440px;
    background-color: white;
    display: none;
    text-align: center;
}
